body{margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:1em;
    color:#dfdfdf;
    padding:0 10px;
    background-color:#2e2e2e}
h1,h2,h3{line-height:1.2;
        font-size : 1.5em}
.inutile,a{font-size: 0.7em;
    color: #cb7cffc0}
#marque{color:#00ac0ece}
.bulle{ background-color: #720303;
        border-radius: 10px;
        box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
        padding : 0.5em;
        display : inline
     }
     a:active{background-color:#37b1c7 ;}